/* html {
  --bg-color: #000;
  --bg-secondary-color: #1e1e1e;
  --bg-toggle-thumb: #343434;
  --bg-card-contributions: #4847474d;
  --bg-separator: #5a5a5a;
  --text-color: #fff;
  --text-description-color: #a6a6a6;
  --font: 'Inter Variable', sans-serif;
  --border-color: #5a5a5a;
  --border-card-contributions-color: #272727;
  --radius: 24px;
  --mobile-inline-padding: 22px;
  --transition-bg: background-color 150ms ease;
  --transition-text: color 150ms ease;
  --transition-border: border-color 150ms ease;

  scroll-behavior: smooth;
  scroll-padding-top: 96px;

  @media (width >= 768px) {
    scroll-padding-top: 126px;
  }
}

html.dark {
  --bg-color: #fff;
  --bg-secondary-color: color-mix(in srgb, #1e1e1e, #fff 95%);
  --bg-toggle-thumb: #d5d5d5;
  --bg-card-contributions: #cbcbcb4d;
  --bg-separator: #000;
  --text-color: #000;
  --text-description-color: color-mix(in srgb, #a6a6a6, #000 40%);
  --border-color: #e6e6e6;
  --border-card-contributions-color: #e6e6e6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
  transition: var(--transition-bg), var(--transition-text);
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 20px; */
  @media (width <= 768px) {
    flex-direction: column;
    margin-top: 50px;
    /* justify-content: space-between; */
    align-items: center;
  }
}
.chessboard {
  flex: 1;
  width: 100%;
  @media (width>=768) {
    margin-right: 20px;
  }
}

.commit-info {
  flex: 1;
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 50px;
  width: 100%;
  @media (width>= 768px) {
    margin-left: 50px;
    margin-top: 0px;
  }
  .section-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
  .section-title {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    h4 {
      line-height: normal;
    }
    span {
      font-size: 12px;
      color: var(--text-description-color);
    }
  }
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.commit-list {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 15px;
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  /* scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG); */
}

/* Webkit-based browsers (Chrome, Safari) */
.commit-list::-webkit-scrollbar {
  width: 10px; /* Reduced width for a sleeker look */
  border-radius: 10px;
}

.commit-list::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 10px;
}

.commit-list::-webkit-scrollbar-thumb {
  background: var(--thumbBG);
  border-radius: 10px;
  border: 3px solid var(--scrollbarBG); /* Creates padding effect */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.commit-list::-webkit-scrollbar-thumb:hover {
  background: darken(var(--thumbBG), 10%);
}

.commit-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.commit-item:hover {
  background-color: #e3e3e3;
}
.commit-item.selected {
  background-color: #d1e7ff;
}
.github-handle-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.github-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.github-thumbnail {
  display: flex;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
}
.github-handle {
  display: flex;
  /* flex: 0.4; */
  justify-content: left;
  border-radius: 10px;
  border:
    1px,
    solid var(--border-color);
  padding: 10px;
  margin-left: 20px;
  width: 100%;

  span {
    line-height: normal;
  }

  input {
    padding-left: 10px;
    background-color: transparent;
    max-width: calc(100% - 16.25px);
    border: none;
    color: var(--text-color);
    outline: none;
    input::placeholder {
      color: var(--border-color);
    }
  }
}

.github-message {
  display: flex;
  justify-content: space-between;
  flex: 1;
  border-radius: 10px;
  border:
    1px,
    solid var(--border-color);
  padding: 10px;
  height: 100%;
  width: 100%;

  input {
    height: 100%;
    padding-left: 10px;
    background-color: transparent;
    width: 100%;
    border: none;
    color: var(--text-color);
    outline: none;
    input::placeholder {
      color: var(--border-color);
    }
  }
}
.section-commit-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .img-div {
    width: 30px;
    margin-bottom: 5px;
  }
}
.latest-commit {
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(3deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-2px, 2px) rotate(-3deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.shake {
  animation: tilt-n-move-shaking 0.15s infinite;
  border: 2px solid red; /* Optional: Highlight invalid fields */
}
