.logo__cursor {
	background:var(--light-button-hover) !important;
}
.dark-theme .logo__cursor {
	background:var(--dark-color-secondary) !important;
}

.post-title a:hover{
	color: var(--light-color);
	background-color: transparent;
}
.dark-theme .post-title a:hover{
	color: var(--dark-color);
	background-color: transparent;
}
.post-cover{
	max-width: 100% !important;
	margin: 40px auto;

}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	color:var(--light-bordor-color)
}

code {
	color: #cccccc;
	background-color: #212020 ;
}

a:hover,.theme-toggler:hover{
	background-color: none;
	color:var(--light-button-hover);
}
.freelancing a:hover{
	background-color: transparent ;
}

.freelancing button:hover,.freelancing a:hover{
	background-color:var(--light-button-hover)!important;
	color: var(--light-background);
}

.dark-theme a:hover,.dark-theme .theme-toggler:hover{
	background-color: none;
	color:var(--dark-color-secondary);
}
.dark-theme .freelancing button:hover,.dark-theme .freelancing a:hover{
	background-color:var(--dark-color-secondary)!important;
	color: var(--dark-background);
}
.dark-theme .freelancing button{
	color:var(--dark-background)
}
code{
	background-color: var(--dark-background-secondary);	
}

.header{
	border-width: 2px;
	border-top: 0px;
	
	border-right: 0px;
	border-left:0px;
	border-style:solid ;
}
