
.index{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;

}
.index h1 {
	padding: 0px;
	margin-bottom: 0px;
}
.index h2 {
	padding: 0px;
	margin-bottom: 80px;
	font-size: 0.9rem;
	
	
}
.footer {
	padding-top: 0px;
	
}
.footer__inner{
	justify-content: center !important;
}
.footer .copyright{
	margin:0px!important;
	text-align: center;
	
}
 .index h2{
	color:var(--light-tag-color);
}
.dark-theme .index h2{
	color:var(--dark-color-secondary);
}

.freelancing button {
	display: inline-block;
	margin: 20px;
	width: 150px;
	height: 35px;
	margin-top: 0px;
	
}

.index a {
	text-decoration: none;
	padding: 10px;
	padding-bottom: 0px;;
}

.dark-theme .header{
	border-color: var(--dark-color-secondary);
}