{{define "main"}} {{ $templateStyle := resources.Get "css/index.css" }}
{{$index:= $templateStyle | resources.ExecuteAsTemplate "css/index.css" . }}
{{$resume_link:= $.Param "resumeSrc"}}
<link rel="stylesheet" type="text/css" href="{{ $index.Permalink }}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="index" >
	<h1>I'm Prakhar Kaushik</h1>
	<h2>Freelance Python Developer</h2>
	<p>
		Python Developer interested in learning new languages, <br />
		also an Active Open Source Contributor. <br />Experienced in Web
		Development and Machine Learning
	</p>

	<div class="freelancing">
		<h4>Checkout My Profile At</h4>
		<button>
			<a href="https://www.freelancer.com/u/Prakhark19">
				<b>FREELANCER</b></a>
		</button>
		<button>
			<a href="https://www.fiverr.com/prakharkaushik"><b>FIVERR</b></a>
		</button>
		
	</div>
	<a href="https://www.github.com/pr4k"><i class="fa fa-github" aria-hidden="true"></i></a>
	<a href="https://twitter.com/me_prakhar"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/pr4k"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	<a href="https://join.skype.com/invite/oZkUaPq8hsnw"><i class="fa fa-skype" aria-hidden="true"></i></a>
	<a href="https://t.me/Prakharkaushik"><i class="fa fa-telegram" aria-hidden="true"></i></a>
	<a href="https://stackoverflow.com/users/10425600/prakhar-kaushik"><i class="fa fa-stack-overflow"
			aria-hidden="true"></i></a>

		</div>


<a href={{$resume_link}}>Resume</a>
{{end}}

